.info{
    background-color: var(--dark3-color);
    color: white;
    min-height: 380px;
}
.container{
    display: flex;
}
.box1{
    flex: 50%;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.box2{
    flex: 50%;
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.card{
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 190px;
    margin: 0 auto;
    margin-top: 31px;
}
.card h1{
    font-family: inter;
    font-weight: 900;
    font-size: 40px;
    color: #fff;
    margin: 0%;
}
.card h2{
    font-family: Alegreya;
    font-weight: 700;
    font-size: 30px;
    color: #fff;
    margin: 0;
}

/* box 1*/
.box1_section{
    display: flex;
    width: 100%;
}


@media screen and (max-width: 550px){
    .container{
        flex-direction: column;
        min-height: 573px;
    }
    .box1_section{
        flex-direction: column;
    }
    .card{
        margin: 0 auto;
    }
    .box1{
        margin-top: 60px;
    }
    .box2{
        margin-top: 0px;
    }
}